*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    user-select: none;
}

h1{
    font-family: 'Trade Winds' ;
    text-align: center;
  
}

main{
    padding: 10px;
    width: 420px;
    height: 360px;
    border:1px lightgrey solid;
    background-color: #e9e9e9;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    
}
main div{
    

}
.item{
    padding:5px;
}
.item div{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    
}

img{
    width: 50px;
    height: 50px;
}

.wrap{
    width: 550px;
    height: 550px;;
    margin: 0 auto;
    background-color:beige;
}

section{
    height: 60px;
    width: 420px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(7,1fr);

   
}
.colHead{
    padding:5px;
}

.colHead div{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  
}